<form #f="ngForm" (ngSubmit)="adicionarMovimento(f)">
    <div class="desc">
        <label for="descricao">Descrição</label>
        <input autocomplete="off" maxlength="10" type="text" name="descricao" id="descricao" ngModel required #descricao="ngModel">
    </div>
    <div class="valor">
        <label for="valor">Valor</label>
        <input autocomplete="off" type="number" name="valor" id="valor" ngModel required #valor="ngModel">
    </div>
    <div class="radio">
        <div>
          <input type="radio" value="entrada" ngModel required #tipo="ngModel" name="tipo" id="entrada">
          <label for="entrada">Entrada</label>
        </div>
        <div>
          <input type="radio" ngModel required #tipo="ngModel" value="saida" name="tipo" id="saida">
          <label for="saida">Saída</label>
        </div>
    </div>
    <button type="submit">Adicionar</button>
</form>