form{
    border-radius: 5px;
    padding: 10px;
    color: #303030;
    background-color: white;
}
form div{
    margin-top: 5px;
    justify-content: center;
    align-items: center;
}
.radio{
    display: flex;
    align-items: center;
    text-align: center;
}
.radio div{
    margin-left: 20px;
    margin-right: 20px;
}