<table>
    <thead>
        <tr>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Tipo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <td *ngFor="let movimento of movimentos; let i = index">
            <tr>{{movimento.descricao}}</tr>
            <tr>{{movimento.valor}}</tr>
            <tr *ngIf="movimento.tipo == 'entrada'"><i class="fa-solid fa-circle-up"></i></tr>
            <tr *ngIf="movimento.tipo == 'saida'"><i class="fa-solid fa-circle-down"></i></tr>
            <tr>
                <button (click)="deletarMovimento(movimento, i)">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </tr>
        </td>
    </tbody>
</table>
